@font-face {
    font-family: "My Custom Font";
    src: url("/assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

.button {
    font-family: "My Custom Font";
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #333333;
    font-family: monospace;
    color: #eeeeee;
    display:flex;
    flex-wrap:wrap;
    font-size: 16px;
    gap:2rem;
}

article {
    margin-inline:auto;
    flex:1;
}

.pamphlet {
    flex:2;
    background-color:beige;
    color:black;
    margin-inline:auto;
}

p,table {
    padding-inline:2rem;
}


.pamphlet h1,.pamphlet h2,.pamphlet a {
    background-color:black;
    width:100%;
    display:block;
    margin:0;
}

td {
    text-align: center;
    padding: 10px;
}

th {
    padding: 10px;
}

a {
    color: #ffff33;
    font-size: 18px;
}

h1 {
    font-family: "My Custom Font";
    color: #ffff33;
    font-size: 26px;
}

h2 {
    font-family: "My Custom Font";
    color: #ffff33;
    font-size: 21px;
}

button {
    font-family: "My Custom Font";
    background: black;
    color: yellow;
    font-size: 10px;
    width: 190px;
    height: 50px;
    border: 0;
    text-align: left;
    padding: 1rem;
}

button:hover {
    background: yellow;
    color: black;
}
